<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
             -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <title>To Do - регистрация</title>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <div class="navbar-brand d-flex align-items-center">
                To Do
            </div>
            <a class="navbar-brand d-flex align-items-center"
               th:if="${(session==null)||(session.user==null)||(session.user.name == null)||(session.user.name == 'Гость')}" th:href="@{/pages/login}">
                <span>Гость | вход</span>
            </a>
            <a class="navbar-brand d-flex align-items-center"
               th:if="${(session!=null)&&(session.user!=null)&&(session.user.name != null)&&(session.user.name != 'Гость')}" th:href="@{/pages/logout}">
                <span th:text="${session.user.name}+' | выйти'"></span>
            </a>
            <a class="navbar-brand d-flex align-items-center"
               th:if="${(session==null)||(session.user==null)||(session.user.name == null)||(session.user.name == 'Гость')}" th:href="@{/pages/registration}">
                <span>регистрация</span>
            </a>
            <a  class="navbar-brand d-flex align-items-center" th:href="@{/pages/all}" th:if="${(session.filter=='done')||(session.filter=='new')}">
                <div>
                    Все
                </div>
            </a>
            <div class="navbar-brand d-flex align-items-center" th:if="${(session.filter!='done')&&(session.filter!='new')}">
                Все
            </div>
            <a class="navbar-brand d-flex align-items-center" th:href="@{/pages/done}" th:if="${(session.filter!=null)&&(session.filter!='done')}">
                <div>
                    Выполненные
                </div>
            </a>
            <div class="navbar-brand d-flex align-items-center" th:if="${(session.filter!=null)&&(session.filter=='done')}">
                Выполненные
            </div>
            <a class="navbar-brand d-flex align-items-center" th:href="@{/pages/new}"  th:if="${(session.filter!=null)&&(session.filter!='new')}">
                <div>
                    Новые
                </div>
            </a>
            <div class="navbar-brand d-flex align-items-center" th:if="${(session.filter!=null)&&(session.filter=='new')}">
                Новые
            </div>
            <div class="navbar-brand d-flex align-items-center">
                <form method="get" th:action="@{/formCreate}">
                    <button type="submit">Добавить задание</button>
                </form>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row pt-3">
            <div class="card" style="width: 100%">
                <div class="card-header">
                    Новый пользователь.
                </div>
                <div class="card-body">
                    <form th:action="@{/pages/registration}" method="POST" th:object="${user}">
                        <input type="hidden" name="id" value="0">
                        <div class="form-group">
                            <label for="name">имя</label>
                            <input type="text" class="form-control" required name="name" id="name">
                        </div>
                        <div class="form-group">
                            <label for="login">login</label>
                            <input type="text" class="form-control" required name="login" id="login">
                        </div>
                        <div class="form-group">
                            <label for="password">пароль</label>
                            <input type="password" class="form-control" required name="password" id="password">
                        </div>
                        <div class="form-group">
                            <label for="zone">Часовой пояс</label>
                            <select id="zone" name="zone">
                                <th:block th:each="tz: ${time_zones}">
                                    <option th:value="${tz.id}" th:text="${tz.name}" th:selected="${tz.id==zone_id}"></option>
                                </th:block>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Зарегать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Наверх</a>
        </p>
        <p class="mb-1">Сервис To Do. &copy;2023 Nike Z. Использовал Bootstrap, Java, Spring boot, thymeleaf.</p>
        <p class="mb-0">Предложения по работе - <a href="https://ekaterinburg.hh.ru/resume/a9f5ffddff01375f8a0039ed1f544d49736b74" target="_blank">посмотреть моё резюме</a> исходный текст проекта <a href="https://github.com/nikegreen/job4j_todo" target="_blank">перейти на проект</a>.</p>
    </div>
</footer>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
